/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties  */
:root {
  --color-cyan: hsl(179 62% 43%);
  --color-bright-yellow: hsl(71 73% 54%);
  --color-dark-yellow: hsl(71 33% 44%);
  --color-dark-blue: hsl(251 73% 54%);
  --color-light-gray: hsl(204 43% 93%);
  --color-grayish-blue: hsl(218 22% 67%);
  --color-white: hsl(0 0% 100%);
  --font: "Karla", sans-serif;
}

/* || Global styles */
body {
  background-color: var(--color-light-gray);
  color: var(--color-white);
  font-family: var(--font);
  display: grid;
  place-content: center;
}

/* || Price grid component styles */
.grid {
  margin: 2rem;
  max-width: 19.4375rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0.9375rem 1.875rem hsl(212 100% 33% / 0.15);
  display: grid;
  grid-template-columns: 1fr;
}

.grid__section {
  padding: 1.5rem;
  background-color: var(--color-cyan);
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.grid__section--main {
  padding: 1.75rem 1.5rem 2rem;
  background-color: var(--color-white);
}

.grid__section--faded {
  opacity: 0.85;
}

.grid__heading {
  font-size: 1.125rem;
  line-height: 1.169;
  letter-spacing: -0.0125em;
}

.grid__heading--main {
  font-size: 1.25rem;
  color: var(--color-cyan);
}

.grid__plan {
  line-height: 1.16;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.grid__month-plan {
  display: flex;
  gap: 0.6875rem;
}

.grid__price {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.0125em;
}

.grid__unit {
  font-size: 1rem;
  opacity: 0.5;
  letter-spacing: -0.0125em;
  align-self: center;
}

.grid__subheading {
  color: var(--color-bright-yellow);
  letter-spacing: -0.0125em;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.3333;
  margin-top: 0.375rem;
}

.grid__description {
  letter-spacing: -0.0125em;
  color: var(--color-grayish-blue);
  font-size: 0.875rem;
  line-height: 1.86;
}

.grid__cta {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  background-color: var(--color-bright-yellow);
  color: inherit;
  box-shadow: 0 0.625rem 0.625rem hsl(0 0% 0% / 0.1);
  padding: 0.9375rem 0 0.875rem;
  border-radius: 0.3125rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.16875;
  letter-spacing: -0.0125em;
  transition: all 0.3s ease-out 0s;
}

.grid__cta:focus-visible {
  outline: 0.3rem solid var(--color-dark-blue);
  outline-offset: 0.2rem;
}

.grid__cta:hover {
  background-color: var(--color-dark-yellow);
}

.grid__list {
  margin: 0;
  padding: 0;
  opacity: 0.75;
  font-size: 0.875rem;
  letter-spacing: -0.0125em;
  line-height: 1.43;
}

@media (min-width: 40.625rem) {
  .grid {
    max-width: 39.6875rem;
    border-radius: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__section {
    padding: 2.5rem;
  }

  .grid__section--main {
    grid-column: 1 / 3;
  }

  .grid__heading--main {
    font-size: 1.5rem;
  }

  .grid__subheading {
    font-size: 1.125rem;
    margin-bottom: -0.625rem;
  }

  .grid__description {
    font-size: 1rem;
  }
}
