@import url("reset.css");

/* || Custom properties  */
:root {
  --color-cyan: hsl(179 62% 43%);
  --color-bright-yellow: hsl(71 73% 54%);
  --color-light-gray: hsl(204 43% 93%);
  --color-grayish-blue: hsl(218 22% 67%);
  --color-white: hsl(0 0% 100%);
  --font: "Karla", sans-serif;
}

/* || Global styles */
body {
  background-color: var(--color-light-gray);
  color: var(--color-white);
  font-family: var(--font);
  display: grid;
  place-content: center;
}

/* || Price grid component styles */
.grid {
  margin: 2rem;
  max-width: 19.4375rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0.9375rem 1.875rem hsl(212 100% 33% / 0.15);
  display: grid;
  grid-template-columns: 1fr;
}

.grid__section {
  padding: 1.5rem;
  background-color: var(--color-cyan);
}

.grid__section--main {
  padding: 1.75rem 1.5rem 2rem;
  background-color: var(--color-white);
}

.grid__section--faded {
  opacity: 0.85;
}

.grid__heading {
  font-size: 1.125rem;
  line-height: 1.169;
  letter-spacing: -0.0125em;
}

.grid__heading--main {
  font-size: 1.25rem;
  color: var(--color-cyan);
}
