@import url("reset.css");

/* || Custom properties  */
:root {
  --color-cyan: hsl(179 62% 43%);
  --color-bright-yellow: hsl(71 73% 54%);
  --color-light-gray: hsl(204 43% 93%);
  --color-grayish-blue: hsl(218 22% 67%);
  --color-white: hsl(0 0% 100%);
  --font: "Karla", sans-serif;
}

/* || Global styles */
body {
  background-color: var(--color-light-gray);
  color: var(--color-white);
  font-family: var(--font);
  display: grid;
  place-content: center;
}

/* || Price grid component styles */
.grid {
  margin: 2rem;
  max-width: 19.4375rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.9375rem 1.875rem hsl(212 100% 33% / 0.15);
  display: grid;
  grid-template-columns: 1fr;
}
